<!-- <div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content style="margin-top: 2%;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions style="margin:2%">
          <button class="btn btn-primary">LIKE</button>
          <button class="btn btn-primary" style="margin-left: 1%;">SHARE</button>
        </mat-card-actions>
      </mat-card>
</div> -->
<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="assets/images/20230224_092836.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Mumbai gets First AC Electric Double Decker Bus</h2>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go to Blog</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="assets/images/arm.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">The Rise of ARM Architecture</h2>
      <p class="card-text">ARM’s processors enjoy a low cost, low power consumption, and low heat generation. This means ARM can leave its competitors behind when it comes to offering a suitable solution for light, portable and battery-powered devices. </p>
      <a href="#" class="btn btn-primary">Go to Blog</a>
    </div>
  </div>



  <div class="card" style="width: 18rem;">
    <img src="assets/images/suzume.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Suzune Release Date in India</h2>
      <p class="card-text">Indian anime fans have been waiting to watch visionary animator Makoto Shinkai's latest epic Suzume on the silver screen, and PVR Pictures now has finally announced that the film will release in India on April 21.</p>
      <a href="#" class="btn btn-primary">Go to Blog</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/images/ai-chatbot-misinformation.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">AI chatbots like gbard ChatGPT stoke fears of misinformation nightmare</h2>
      <p class="card-text"> A number of experts have suggested that chatbots are already being used to generate and spread misinformation, and the rate at which this is occurring is increasing at a very rapid pace.</p>
      <a href="#" class="btn btn-primary">Go to Blog</a>
    </div>
  </div>
  </div>