<div class="container">
    <label style="margin:1%">Username</label>
    <input style="margin:1%" type="text" class="form-control" [(ngModel)] = "username"/>
    <button style="margin:1%" type="submit" class="btn btn-primary" [disabled] ="checkEmpty()" (click)="clearTextField()">Submit</button>
    
    <p *ngIf="isCreated; else noUser" style="margin:1%">Username is {{username}}</p>
    <ng-template #noUser style="margin:1%">
        <p style="margin:1%">No user has been created.</p>
    </ng-template>
</div>
