<app-header></app-header>
<div class="container">
    <label class="form-label">Title</label><br>
    <input type="text" class="form-control" placeholder="Write Title"><br>
    <label class="form-label">Description</label><br>
    <input type="text" class="form-control" placeholder="Write Description"><br>
    <label class="form-label">Content</label><br>
    <textarea class="form-control" placeholder="Write Content"></textarea><br>
    <button class="btn btn-primary" type="submit">Submit</button>

</div>